h1{
    background-color: #eee;
    color: rgb(38, 17, 97);
    text-align: center;
}
legend{
    color: rgb(38, 17, 97);
    font-weight: bolder;
}
fieldset{
    width: 40%;
    background-color:#eee;
    position: relative;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 30%;
    float: right;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #eee;
    background-color:  rgb(38, 17, 97);
  }
  #unorderList{
 width: 40%;
      list-style-type: none;
      color: rgb(38, 17, 97);
      background-color: #eee;
position: absolute;

  }
footer{
    background-color: #eee;
    color:  rgb(38, 17, 97);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#btn{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #eee;
    background-color:  rgb(38, 17, 97);
}
main{
  border: 3px solid #fff;

}
